.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  display: hidden;
}

.dining-container {
  border: 2px solid var(--nav-background);
  text-align: center;
  display: block;
  background-color: #c7c9c7;
  border-radius: 10%;
  margin: 8px;
  width: 92%;
}

.center {
  text-align: center;
}

.scrollbox {
  width: 400px;
  height:150px;
  line-height:3em;
  overflow:auto;
  padding:5px;
}

.mealSelector {
  width: 15vh;
  height: 5vh;
  border-radius: 15%
}
