/* Fill me in :) */

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bgImg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../public/background.jpg');
    background-color: grey
}

.colorWhite {
    color: white
}
