/* Fill me in :) */

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bgHome {
  position: absolute;
  width: 100%;
  height: 90vh;
  background-image: url("../../public/bgHome.jpg");
}

.unloggedBgHome {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("../../public/bgHome.jpg");
}

.horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeCard {
  background-color: #c7c9c7;
  border-radius: 5%;
  position: relative;
  display: inline-block;
  justify-content: center;
  padding: 3%;
  margin-top: 0;
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  width: 30%;
  height: 50%
}

.selectionBox {
  display: flex;
  display: row
}

.titleBox {
  border-radius: 10%;
  background-color:#c7c9c7;
  display: inline-block;
  margin: 5vh;
  padding: 3vh
}

.homeLogoutButton {
  background-color: #aa0202
}
