/* Fill me in :) */

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bgHome {
  position: absolute;
  width: 100%;
  height: 90vh;
  background-image: url("../../public/bgHome.jpg");
}

.unloggedBgHome {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("../../public/bgHome.jpg");
}

.colorWhite {
  color: white;
}

.container {
  position: relative;
}

.horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerCard {
  background-color: rgb(72, 72, 72);
  position: absolute;
  height: 100%;
  width: 80%;
  align-items: center
}
