.event-container {
    padding: 0 35%;
  }

.row {
    display: flex;
    overflow-wrap: normal
}

.column {
    flex: 50%;
    align-items: center;
    justify-content: center;
    padding-right: 5vh;
    overflow-wrap: normal;
    display: inline-block
}

.event-picture {
    /* make it responsive */
    max-width: 100%;
    width: 100%;
    height: 0%;
    display: columns;
    
    /* div height to be the same as width*/
    padding-top: 100%;

    /* make it a circle */
    border-radius: 70%;

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
  
    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;
  
    /* it is optional, for making this div centered in parent*/
    background-image: url("../../public/corgi.jpg");

    margin-bottom: 5vh
  }

.eventDisplayCard {
  background-color: #c7c9c7;
  display: block;
  border-radius: 10%;
  padding: 5%;
  margin: 3%;
  width: 43%;
  overflow: auto;
}

.listDescription {
  overflow-wrap: normal;
}